[submodule "modules/ofxParagraph"]
	path = modules/ofxParagraph
	url = git@github.com:braitsch/ofxParagraph.git
[submodule "modules/ofxDatGui"]
	path = modules/ofxDatGui
	url = git@github.com:braitsch/ofxDatGui.git
